body {
	font-family: 'Ubuntu Bold', 'OpenSans Regular', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu Bold', sans-serif;
	font-weight: 700;
}

p {
	line-height: 1.6em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background-image: linear-gradient(to right bottom, #4ebffe, #46b3f5, #40a7ec, #3b9be3, #378fd9);
	padding-top: 62px;
	color: #fff;
	padding-bottom: 130px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer {
	width: 573px;
}

.title {
	font-size: 30px;
}

.title span {
	font-size: 45px;
}

.intro {
	margin-bottom: 45px;
	width: 350px;
	margin-top: 30px;
}

.btn {
	font-family: 'Ubuntu Bold', sans-serif;
	font-weight: 700;
	background-color: #ffd429;
	color: black;
	display: block;
	width: 223px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.7s ease;
}

.btn:hover {
	background-color: #c1a01d;
}

.desktop {
	margin-top: 20px;
}

.learn {
	padding-top: 110px;
	padding-bottom: 120px;
}
.section-title {
	text-align: center;
	font-size: 25px;

}

.my-time {
	display: flex;
	justify-content: space-between;
	margin-top: 27px;
}

.free-time {
	width: 302px;
	text-align: center;
	background:url('../img/icon1.jpg') no-repeat center top;
	padding-top: 90px;
}

.time-title {
	font-size: 18px;
}

.time-text {
	margin-top: 7px;
	width: 282px;
}

.trip {
	width: 287px;
	background:url('../img/icon2.jpg') no-repeat center top;
}

.value {
	background:url('../img/icon3.jpg') no-repeat center top;
}

.mail {
	background: #ecf3f8; 
	padding-top: 106px;
	padding-bottom: 106px;
}

.form {
	text-align: center;
	margin-top: 60px;
}

.input{
	width: 339px;
	border: 1px solid #bbb;
	font-size: 15px;
	font-family: 'Ubuntu Bold', sans-serif;
	height: 48px;
	padding-left: 29px;
	display: block;
	margin: 0px auto 12px;
}
.btn-form {
	border: 0;
	cursor:pointer; 
	display: inline; 
	margin-top: 14px;
	width: 339px;
	margin: 0px auto;
}

.footer {
	padding: 57px 0;
	background-color: #164d7a;
}

.credits {
	font-size: 15px;	
	color: #fff;
	text-align: center;
}

.yellow {
	color: yellow;
}

.animated {
	opacity: 1;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.wrapper {
		display: flex;
	}
	.desktop {
		display: block;
    	width: 50%;
    	margin: 55px auto;
    }
    .offer {
    	width: 80%;
    	font-size: 30px;
    }
    .intro {
    	width: 80%;
    }
    .logo {
    	padding-bottom: 40px;
    }
    .btn {
    	width: 250px;
    	font-size: 20px;
    }
    .btn-form {
    	width: 339px;
    }
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: 100%;
	}
	.desktop {
		display: block;
    	width: 549px;
    	margin: 72px auto;
	}
	.my-time {
		flex-direction: column;
	}
	.free-time {
		width: auto;
		margin-bottom: 30px;
	}
	.time-text {
		text-align: center;
		margin: 0px auto;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.desktop{
		width: 100%;
	}
	.input{
		width: 100%;
	}
	.btn-form {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.btn {
		width: 100%;
	}
}